footer {
  display: flex;
  background-color: #353b48;
  height: 60px;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.data {
  font-family: "Outfit", sans-serif;
  font-size: 1.25rem;
  color: #fff;
}
